import UIKit
import POSUtils

final class {{ module_info.name }}ViewController: UIViewController, StoryboardInstantiable {
	static var storyboardName: String = "{{ module_info.name }}ViewController"
    var output: {{ module_info.name }}ViewOutput!
    var moduleInput: {{ module_info.name }}ModuleInput!

    // MARK: - Life cycle
    override func viewDidLoad() {
        super.viewDidLoad()
        output.viewIsReady()
    }
}

// MARK: - {{module_info.name}}ViewInput

extension {{ module_info.name }}ViewController: {{module_info.name}}ViewInput {
	func setupInitialState() {
        
    }
}
