import Foundation

final class {{ module_info.name }}Presenter {

    weak var view: {{ module_info.name }}ViewInput!
    var interactor: {{ module_info.name }}InteractorInput!
    var router: {{ module_info.name }}RouterInput!
}

// MARK: - {{module_info.name}}ModuleInput

extension {{ module_info.name }}Presenter: {{ module_info.name }}ModuleInput {
	
}

// MARK: - {{module_info.name}}ViewOutput

extension {{ module_info.name }}Presenter: {{ module_info.name }}ViewOutput {
	func viewIsReady() {
		view.setupInitialState()
    }
}

// MARK: - {{module_info.name}}InteractorOutput

extension {{ module_info.name }}Presenter: {{ module_info.name }}InteractorOutput {
	
}