import UIKit

final class {{ module_info.name }}ModuleConfigurator: NSObject {

    @objc func configureModule(for viewController: {{ module_info.name }}ViewController) {
        configure(viewController: viewController)
    }

    private func configure(viewController: {{ module_info.name }}ViewController) {

        let router = {{ module_info.name }}Router()
        router.viewController = viewController

        let presenter = {{ module_info.name }}Presenter()
        presenter.view = viewController
        presenter.router = router

        let interactor = {{ module_info.name }}Interactor()
        interactor.output = presenter

        presenter.interactor = interactor
        viewController.output = presenter
        viewController.moduleInput = presenter as {{ module_info.name }}ModuleInput
    }
}
